
body  {
  text-align: center;
  font-family: "montserrat;"
}

h1  {
  font-family: "ubuntu";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}
/*
h2, h3 {
  font-family:  "montserrat-bold";
} */
/*
h2 {
  font-family:  "montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
} */


.container-fluid {
  padding: 7% 15% ;
}

/* navigation bar */

.navbar  {
  padding:0 0 4.5rem;
}

 .navbar-brand  {
  font-family:  "montserrat-black";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item  {
  padding: 0 18px;
}

.nav-link  {
  font-size: 1.2rem;
  font-family: "montserrat-light";
}

.navbar-collapse {
  text-align: end;
}

/* Download bottons */

.Download-button  {
margin: 5% 3% 5% 0;
}

/* title section */

/* #title {
  background-color: #ff4c68;
  color: #fff;
} */

#title .container-fluid {
  padding: 3% 15% 7% ;
}

.welcoming-friends {
  font-family: "ubuntu";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.title-image  {
  /* position: absolute; */
  /* width: 60%; */
  /* transform: rotate(+25deg); */
}

/* features section */

#features {
  
  /* position: relative; */
  /* z-index: 1; */
}

.feature-heading {
  font-family:  "montserrat-bold";
}

.features-paragraph {
  color: #9b9a9a;
}

/* * {
  text-align: center;
  color: blue;
 } */

.feature-box {

  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* related section */


.related-img  {
  width: 50%;
  border-radius: 20%;
  margin: 20px;
}

.section-text {
  font-size: 2rem;
  line-height: 1.5;
  font-family:  "montserrat-bold";
}

#related {

  background-color: #ef8172;
}

.carousel-item  {
}

/* press section */

#press  {
  background-color: #ef8172;

  padding-bottom: 3%;

}

/* pricing section */

.pricing-heading {
  font-family:  "montserrat-bold";
}

.plans {
  font-size: 3rem;
  line-height: 1.5;
  font-family:  "montserrat-bold";
}

/* CTA section */

#CTA {
  /* background-color: #ff4c68;
  color: #fff; */
}

.big-heading {
  font-family:  "montserrat";
  font-size: 2rem;
  line-height: 1;
  color: #fff;
}

/* footer section */

#footer  {
  /* text-emphasis-style: triangle;
  text-emphasis-color: #ef8172; */
}




@media (min-width: 1028px) {

#title {
  text-align: left;

}

.title-image  {
  position: static;
  /* transform: rotate(0); */
}
}

/* sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

